

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Public Servants{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Public Servants</h1>
        {% if publicservants %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Email </th>
                  <th width="40%"> Department </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for publicservant in publicservants %}
                <tr>
                  <td> {{ publicservant.email }} </td>
                  <td> {{ publicservant.department }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_publicservant', email=publicservant.email) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_publicservant', email=publicservant.email) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No public servants have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_publicservant') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Public Servant
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}