

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Discovers{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Discovers</h1>
        {% if discovers %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Country Name </th>
                  <th width="40%"> Disease Code </th>
                  <th width="15%"> First Enc Date </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for discover in discovers %}
                <tr>
                  <td> {{ discover.cname }} </td>
                  <td> {{ discover.disease_code }} </td>
                  <td> {{ discover.first_enc_date }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_discover', cname=discover.cname, disease_code = discover.disease_code) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_discover', cname=discover.cname, disease_code = discover.disease_code) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No discover instances have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_discover') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Discover
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}