

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Diseases{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Disease</h1>
        {% if diseases %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Disease Code </th>
                  <th width="15%"> Pathogen </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Id </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for disease in diseases %}
                <tr>
                  <td> {{ disease.disease_code }} </td>
                  <td> {{ disease.pathogen }} </td>
                  <td> {{ disease.description }} </td>
                  <td> {{ disease.id }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_disease', disease_code=disease.disease_code) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_disease', disease_code=disease.disease_code) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No diseases have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_disease') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Disease
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}