

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Records{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Records</h1>
        {% if diseasetypes %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Email </th>
                  <th width="40%"> Cname </th>
                  <th width="15%"> Disease Code </th>
                  <th width="15%"> Total Deaths </th>
                  <th width="15%"> Total Patients </th>
                </tr>
              </thead>
              <tbody>
              {% for record in records %}
                <tr>
                  <td> {{ record.email }} </td>
                  <td> {{ record.cname }} </td>
                  <td> {{ record.disease_code }} </td>
                  <td> {{ record.total_deaths }} </td>
                  <td> {{ record.total_patients }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_record', email=record.email, cname=record.cname, disease_code=record.disease_code) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_record', email=record.email, cname=record.cname, disease_code=record.disease_code )}}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No records have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_record') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Record
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}